@import 'spacing';
@import 'border';

@mixin twa-button() {
  display: inline-block;
  background-color: var(--twa-color-primary);
  color: var(--twa-color-secondary);
  font-family: var(--twa-font-secondary);
  cursor: pointer;
  line-height: 1.15;
  @include apply-padding('normal', 'x');
  @include apply-padding('small', 'y');
  @include apply-margin('small');
  @include border-radius();
}

@mixin twa-button-disabled() {
  opacity: 0.65;
  cursor: default;
}
