@import "../abstract/colors";

/// Add this class on the `html` tag to activate color scheme for the dark theme.
.twa-theme-dark {
  --twa-color-primary: #{$twa-color-primary};
  --twa-color-secondary: #{$twa-color-secondary};
  --twa-color-accent-primary: #{$twa-color-accent-primary};
  --twa-color-accent-secondary: #{$twa-color-accent-secondary};
  --twa-color-success: #{$twa-color-success};
  --twa-color-error: #{$twa-color-error};

  --twa-color-primary_rgb: #{$twa-color-primary_rgb};
  --twa-color-secondary_rgb: #{$twa-color-secondary_rgb};
  --twa-color-accent-primary_rgb: #{$twa-color-accent-primary_rgb};
  --twa-color-accent-secondary_rgb: #{$twa-color-accent-secondary_rgb};
  --twa-color-success_rgb: #{$twa-color-success_rgb};
  --twa-color-error_rgb: #{$twa-color-error_rgb};
}

.twa-bg-primary {
  @include twa-background-color('primary');
}

.twa-bg-secondary {
  @include twa-background-color('secondary');
}

.twa-bg-accent-primary {
  @include twa-background-color('accent-primary');
}

.twa-bg-secondary-primary {
  @include twa-background-color('accent-secondary');
}

.twa-bg-error {
  @include twa-background-color('error');
}

.twa-bg-success {
  @include twa-background-color('success');
}

.twa-text-primary {
  @include twa-text-color('primary');
}

.twa-text-secondary {
  @include twa-text-color('secondary');
}

.twa-text-accent-primary {
  @include twa-text-color('accent-primary');
}

.twa-text-accent-secondary {
  @include twa-text-color('accent-secondary');
}

.twa-text-accent-primary {
  @include twa-text-color('accent-primary');
}

.twa-text-accent-secondary {
  @include twa-text-color('accent-secondary');
}

.twa-text-error {
  @include twa-text-color('error');
}

.twa-text-success {
  @include twa-text-color('success');
}