@import "../abstract/colors";

/// Add this class on the `html` tag to activate color scheme for the dark theme.
.twa-theme-dark {
  --twa-color-primary: #{$twa-color-primary};
  --twa-color-secondary: #{$twa-color-secondary};
  --twa-color-accent-primary: #{$twa-color-accent-primary};
  --twa-color-accent-secondary: #{$twa-color-accent-secondary};

  --twa-color-primary_rgb: #{$twa-color-primary_rgb};
  --twa-color-secondary_rgb: #{$twa-color-secondary_rgb};
  --twa-color-accent-primary_rgb: #{$twa-color-accent-primary_rgb};
  --twa-color-accent-secondary_rgb: #{$twa-color-accent-secondary_rgb};
}

/// Add this class to any component to add primary color to its background.
.twa-bg-primary {
  @include twa-background-color('primary');
}

/// Add this class to any component to add secondary color to its background.
.twa-bg-secondary {
  @include twa-background-color('secondary');
}

/// Add this class to any component to add accent primary color to its background.
.twa-bg-accent-primary {
  @include twa-background-color('accent-primary');
}

/// Add this class to any component to add accent secondary color to its background.
.twa-bg-secondary-primary {
  @include twa-background-color('accent-secondary');
}

/// Add this class to any component to add primary color to its text color.
.twa-text-primary {
  @include twa-text-color('primary');
}

/// Add this class to any component to add secondary color to its text color.
.twa-text-secondary {
  @include twa-text-color('secondary');
}

/// Add this class to any component to add accent primary color to its text color.
.twa-text-accent-primary {
  @include twa-text-color('accent-primary');
}

/// Add this class to any component to add accent secondary color to its text color.
.twa-text-accent-secondary {
  @include twa-text-color('accent-secondary');
}
