.twa-input-error {
  background-color: var(--twa-color-error);
}

.twa-input-success {
  background-color: var(--twa-color-success);
}

.twa-label-error {
 color: var(--twa-color-error);
}

.twa-label-success {
  color: var(--twa-color-success);
}