@import "../abstract/spacing";
@import "../abstract/border";

button {
  background-color: var(--twa-color-primary);
  color: var(--twa-color-secondary);
  font-family: var(--twa-font-secondary);
  cursor: pointer;
  @include apply-padding('normal', 'x');
  @include apply-padding('small', 'y');
  @include apply-margin('small');
  @include border-radius();
}

button:disabled {
  opacity: 0.65;
  cursor: default;
}
