@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro&display=swap');

:root {
  --twa-font-primary: 'Noto Serif', serif;
  --twa-font-secondary: 'Lato', serif;
  --twa-font-monospace: 'Source Code Pro', monospace;
}
