@import "../abstract/colors";
@import "../abstract/spacing";

label {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--twa-font-secondary);

  &.twa-required-field:after {
    content: ' *';
    display: inline;
    @include twa-text-color('accent-secondary');
  }
}

input {
  @include twa-text-color('primary');
  @include apply-padding('small');
  background: rgba(var(--twa-color-primary_rgb), 0.4);
  outline: none;
}
